*{
    margin: 0;
    padding: 0;
    user-select: none;
}
/*burası önsayfa için*/
.container{
    background: url(ğğğ.jpg);
    opacity: 0.9;
    height: 100vh;
    width: 100%; 
    background-size: 100% 100%;
}

.container .navbar{
    width: 100%;
    height: 80px;
}

.navbar .logo{
    display: inline-block;
    margin-top: 20px;
    margin-left: 50px;
}

.container .navbar .logo a{
    text-decoration: none;
    font-size:large ;
    font-family: sans-serif;
    color: white;
    font-size: 2em;
}

.navbar ul {
    float: right;
    margin-right:25px ;
}

.navbar ul li{
    list-style: none;
    display:inline-block;
    margin:0 10px;
    line-height: 70px;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
    font-family:  sans-serif;
} 

.container .başlık{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: sans-serif;
}

.başlık h1{
    color: white;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
}
.hak{
    background: url(wall2.jpg);
    height: 100vh;
    width: 100%;
    background-size: 100% 100%;   
}
.başlık h2{
    color: white;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.hak  h1{
    text-align: center; 
    font-size: 300%;
    margin-bottom: 30px;
    color: white;
}
.hak p{
    font-size:20px;
    padding: 0 15px;
    color: white;
    margin-bottom: 30px;
}

.hak .hobi b{
    font-size: x-large;
    padding: 0 10px;
    color: white;
    margin-left: 5%;
}
.hak .hobi .hb{
    margin: 1%;
    color: white;
    padding: 1%;
}
.hak .hobi ul li{
    font-size: large;
    padding: 10px 10px;
}
.container input[type="submit"]{
    font-family: serif;
    font-size: 20px;
    background: none;
    text-align: center;
    border: 2px solid  rgb(247, 243, 243);
    padding: 13px 30px;
    color: white;
    margin-top: 25%;
    padding-bottom: 10px;
    margin-left:46%;
    border-radius:24px;
    transition: 0.25px;
    
}
.container input[type="submit"]:hover{
    background:rgb(110, 109, 109);
}
/* burası login için*/

body .login{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(wall2.jpg);
    height: 100vh;
    width: 100%;
}

.login{
    width: 400px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    text-align: center;
}
.login h1{
    margin-top: 10%;
    color: rgb(226, 219, 219);
    font-family: serif;
    text-transform: uppercase;
    font-size: 100;
}
.login input[type="email"],
input[type="password"]{
    font-family: serif;
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid  #0367fd;
    padding: 14px 30px;
    width: 300px;
    outline: none;
    color: rgb(241, 235, 235);
    border-radius:24px;
    transition: 0.25px;
}

.login input[type="email"]:focus,
input[type="password"]:focus{
    font-family: serif;
    width: 280px;
    border-color:#ffc400 ;
}

.login input[type="submit"]{
    font-family: serif;
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid  #ffc400;
    padding: 14px 20px;
    outline: none;
    color: white;
    border-radius:24px;
    transition: 0.25px;
    cursor: pointer;
}
.login input[type="submit"]:hover{
    background:#ffc400;
}
/*burası şehrim için*/
.şhr{
    color: black;
    text-align: center;
    font-size:30px;
    height: 100%;
    margin-top: 1px;
}
.şhr .kay p{
    font-size: 20px;   
    text-align: left;
}
.şhr h1{
    padding-top: 10px;
    margin-bottom: 10px;
}

.carousel-itme{
    height: 24rem;
    background-color: #000;

}

/* burası özgeçmiş için */
.özgeçmiş{
    background-color: #5b6468;
    height: 100vh;
}
.özgeçmiş h1{
    color: black;
    text-align: center;
    font-size:30px;
}
.özgeçmiş .geçmiş .paragraf{
     font-size: 23px;
}
/* burası mirasımız içim*/
.başıkm {
    text-align: center;
    background: #5b6468;
    margin-top:-20px ;
    margin-bottom: -10px;
    font-size: 30px;
}
.yıldız{
    width: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-indent: 225px;
}
.miras{
    background-color: #5b6468;
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.miras img{
    height: 75%;
    width: 50%;
    object-fit: cover;
}
.miras .hkhakkında h4{
    font-size: 30px;
    font-family:unset;
    text-indent: 30%;
}

.miras .hkhakkında p{
    font-size: 17px;
    font-family: sans-serif;
    text-align: center;
}
/*      miras2     */
.miras2{
    background-color: #5b6468;
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.miras2 img{
    margin-top:15px ;
    height: 65%;
    width: 45%;
    object-fit: cover;
}
.miras2 .bhakkında p{
    font-size: 17px;
    font-family: sans-serif;
    text-align: center;
}

.miras2 .bhakkında h4{
    font-size: 30px;
    font-family:unset;
    text-indent: 40%;
}
.yıldız2{
    width: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-indent: 265px;
}
/*      miras3    */
.miras3{
    background-color: #5b6468;
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.miras3 img{
    margin-top:15px ;
    height: 65%;
    width: 45%;
    margin-left: 20px;
    object-fit: cover;
}
.miras3 .thakkında p{
    font-size: 17px;
    font-family: sans-serif;
    text-align: center;
}

.miras3 .thakkında h4{
    font-size: 30px;
    font-family:unset;
    text-indent: 40%;
}
.yıldız3{
    width: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-indent: 300px;
}